header {

    @include force-uppercase;
    $header-height: 60px !global;
    min-height: $header-height;

    @include flex-layout-row;
    align-items: center;

    .header-row-01 {
        @include flex-layout-row;
        align-items: center;
    }

    .logo {
        vertical-align: middle;
        margin: auto;
        width: 50%;

        a {
            @include plain-link($site-black);
        }
    }

    @include mq($tabletPortrait) {
        display: block;
        .header-row-01 {
            height: $header-height;
        }
    }

    nav {
        ul {
            @include flatten(true);
            display: flex;
        }

        a {
            $transition: background-color 0.3s ease;
            @include plain-link($site-black);
            font-weight: bold;
            display: block;
            padding: 0 20px;
            line-height: $header-height;
            transition: $transition;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: transparent;
                transition: $transition;
            }
            #{$hover} {
                background-color: rgba($site-blue, 0.1);
                outline: none;
                &:after {
                    background-color: $site-yellow;
                }
            }
        }

        @include mq($tabletPortrait) {

            $border: 1px solid $site-black;
            width: 100%;
            display: none;
            width: 100%;
            border-bottom: $border;

            ul {
                display: block;
            }

            a {
                border-top: $border;
                line-height: $header-height - 1px;
            }

            .show & {
                display: block;
            }

        }
    }

}
