section {
    padding: $padding;

    article:not(:last-child) {
        @include first-last-el-no-margin;
        margin-bottom: $padding;
    }

    @include mq($phoneLandscape) {
        padding: $padding-mobile;
    }
}


.code-p {
    padding: 10px;
    background-color: rgba($site-blue, 0.1);
    border: 1px dashed $site-black;
}
